.about-me {
    background-color: #f9f9f9;
    padding: 50px;
    text-align: center;
  }
  
  .about-me-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: auto;
  }
  
  .section-header {
    font-size: 2rem;
    margin-top: 100px;
    margin-bottom: 20px;
    color: #333;
    overflow: hidden;
  }
  
  .section-header span {
    display: inline-block;
    animation: typing 1s steps(10) forwards;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  
  .profile-pic {
    width: 220px;
    height: 260px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
  }
  
  .about-me-text {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #777;
    margin-bottom: 30px;
  }
  
  .btn {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: background-color 0.2s ease-in-out;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 768px) {
    .about-me-content {
      padding: 0 20px;
    }
    
    .profile-pic {
      width: 150px;
      height: 150px;
    }
    
    .about-me-text {
      font-size: 1rem;
    }
    
    .btn {
      font-size: 1rem;
      padding: 8px 16px;
    }
  }
  